*{
  color: white;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

body{
  font-family: coolfont;
  font-size: 1em;
}

.container{
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/fondtest.jpg);
}

.mergeZone{
  /*Permet de créer la branche*/
}

.citationarea em{

  font-weight: 800;
  font-style: italic;
  color: #66CC66;
}

.main{
  height: 600px;
  margin-top: 4%;
}

.bigpicture{
  height: 80%;
  width: 60%;
  margin: 0 auto;
  background-image: url(../img/biglogo.png);
}

.citationarea{
  height: 20%;
  width: 60%;
  margin: 0 auto;
  cursor: default;
}

.citationarea p{
  font-size: 1.5em;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.citationarea p span{
  letter-spacing: 0.1em;
}

.citationarea b{
  font-weight: 600;
  font-size: 1.5em;
  color: #66CC66;
  text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
}

@media (max-width: 1400px){
  .main{
    height: 470px;
    margin-top: 1.5%;
  }
}
